* {
  margin: 0px;
  padding: 10px;
}

.container {
  width: 970px;
}

body {
  background-image: url('calm.jpg') !important;
}

.travel {
  font-size: 50px;
  margin-left: 405px;
  margin-top: -26px;
  opacity: 1.5;
  color: white;
}

.registration {
  width: 333px;
  display: inline-block;
  margin-left: 44px;
  margin-top: 20px;
  background-color: lightskyblue;
  opacity: 0.8;
  /* border: 1px solid black; */
  text-align: center;
  font-size: 18px;
}

.login {
  width: 344px;
  height: 416px;
  display: inline-block;
  margin-left: 49px;
  background-color: lightskyblue;
  opacity: 0.8;
  /* border: 1px solid black; */
  text-align: center;
  vertical-align: top;
  margin-top: 20px;
  font-size: 18px;
}

.footer {
  margin-left: 34px;
}