body {
  background-image: url('thanks.jpg') !important;
  height: 970px;
  width: 970px;
  background: cover;
  overflow-y: hidden;
}

.container {
  width: 1400px;
  height: 970px;
  display: inline-block;
}

.hello {
  color: white;
  font-size: 24px;
  margin-left: 643px;
  margin-top: 14px;
}

.hellos {
  color: white;
  font-size: 65px;
  display: inline-block;
  margin-left: 480px;
}

.go_back {
  display: inline-block;
  font-size: 18px;
  margin-left: 279px;
  margin-top: -48px;
  position: absolute;
  width: 80px;
  text-align: center;
  border: 1px solid white
}

.click {
  font-size: 18px;
  display: inline-block;
  margin-left: 608px;
  margin-top: -2px;
  color: white;
  border: 1px solid white;
}

.stress {
  width: 937px;
  height: 30px;
  background-color: white;
  opacity: 0.7;
  border: 1px solid black;
  margin-left: 256px;
  position: absolute;
  margin-top: 158px;
}

.level {
  display: inline;
  margin-left: 45px;
}

.rate {
  width: 937px;
  height: 134px;
  border: 1px solid black;
  margin-left: 256px;
  margin-top: 24px;
  background-color: white;
  opacity: 0.7;
}

.scale {
  font-size: 28px;
  text-align: center;
}

.slider {
  font-size: 26px;
  margin-left: 199px;
  margin-top: -20px;
}

.value {
  font-size: 22px;
  margin-left: 342px;
  display: inline-block;
  display: inline-block;
  margin-top: -35px;
}

.rangeslider {
  width: 70%;
}

.myslider {
  -webkit-appearance: none;
  background: lightgreen;
  width: 937px;
  height: 15px;
  opacity: 2;
  margin-left: -1px;
  margin-top: 26px;
  position: absolute;
  border: 1px solid black;
}

.btn {
  border: 1px solid white;
  background-color: orange;
  color: white;
  margin-left: 636px;
  margin-top: 152px;
  width: 157px;
  height: 38px;
  display: inline-block;
}
.trigger{
  color: white;
  font-size: 27px;
  margin-left: 190px;
  text-align: center;
}
.text{
  width: 226px;
  height: 130px;
  margin-left: 285px;
}
.submit_btn {
  font-size: 18px;
  background-color: orange;
  color: white;
  margin-left: 354px;
  border-radius: 8px;
  margin-top: 56px;
}
