<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <style>
        table {
          border-collapse: collapse;
        }
        
        table, td, th {
          border: 1px solid black;
        }
        </style>
</head>
<body>
    <h1>Welcome{{registered_user.firstname}},Let's Play the game now!</h1>
    

  
    <h2>What are you craving? </h2>    
    <form action="process_new_taste" method="POST"><br>
        {% csrf_token %}
      <input type="radio" name="suds" value="1" >Sweet<br>
      <input type="radio" name="suds" value="2" >Sour<br>
      <input type="radio" name="suds" value="3" >Salty<br>
      <input type="radio" name="suds" value="4" >Bitter<br>
      <input type="submit" value="submit">
    </form>

      
        
        
        <a href="/logout">LogOUT</a>

   

 