<!DOCTYPE html>

<html class="no-js">

<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="description" content="">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>serenity</title>
  {% load static %}
  <link rel="stylesheet" href="{% static 'game_app/css/serenity.css' %}">
  <style>

  </style>

</head>

<body>
  <div class="container">


    <p class="bstress">Beginning Stress level {{placeholder}}</p>

    <p class="estress">Ending Stress level {{placeholder}}</p>
    <br>


    <div class="rate">
      <p class="scale">Rate your current stress level: 0 = No Stress / 10 = So stressed you can't talk</p>
      <p class="slider">Drag the slider to display your stress level value</p>
      <p class="value">Current stress level: <span id="demo"></span></p>
      <div class="rangeslider">
        <form class="serenity" action="/serenity_store/" method="post">
          {% csrf_token %}
          <input type="range" min="1" max="10" value="1" class="myslider" id="sliderRange" name="range">



          <input class="submit_btn" type="submit" value="submit">
        </form>
      </div>
    </div>


    <div class="ratings">

      <p class="breath">Breath Count:{{placeholder}}</p>
      <p class="gratitude">Gratitude list:{{placeholder}}</p>
      <p class="journal">Journal Entry:{{placeholder}}</p>
      <p class="activity">Activity list:{{placeholder}}</p>





    </div>



    <script>
      var rangeslider = document.getElementById("sliderRange");
      var output = document.getElementById("demo");
      output.innerHTML = rangeslider.value;

      rangeslider.oninput = function () {
        output.innerHTML = this.value;
      }
    </script>









  </div>

</body>


</html>